/* You can add global styles to this file, and also import other style files */
@import './styles/themes';

html, body { 
  height: 100%; 
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
